@font-face {
	font-family: ubuntu-mono;
	src: url('UbuntuMono-R.ttf');
}

body {
	background-color: #000000;
	font-family: ubuntu-mono;
	font-size: 1em;
	color: #00ff00;
}

#active-prompt {
	display: inline-block;
}

#active-prompt input {
	display: inline-block;
	background-color: #000000;
	border: 0px;
	font-family: ubuntu-mono;
	font-size: 1em;
	color: #00ff00;
}